// GRID
// $grid-width: 114rem;
// $gap-vertical: 8rem;
// $gap-horizontal: 6rem;

.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $gap-vertical;
    }

    @include clearfix;

    [class ^= "col-"] { // Select only classes that start with "-col"
        float: left;

        &:not(:last-child) {
            margin-right: $gap-horizontal;
        }
    }

    .col-12 {
        width: calc((100% - #{$gap-horizontal}) / 2);
    }

    .col-13 {
        width: calc((100% - #{$gap-horizontal}*2) / 3);
    }

    .col-14 {
        width: calc((100% - #{$gap-horizontal}*3) / 4);
    }

    .col-15 {
        width: calc((100% - #{$gap-horizontal}*4) / 5);
    }

    .col-16 {
        width: calc((100% - #{$gap-horizontal}*5) / 6);
    }

    .col-23 {
        width: calc(((100% - #{$gap-horizontal}*2) / 3) * 2 + #{$gap-horizontal});
    }

    .col-24 {
        width: calc(((100% - #{$gap-horizontal}*3) / 4) * 2 + #{$gap-horizontal});
    }

    .col-25 {
        width: calc(((100% - #{$gap-horizontal}*4) / 5) * 2 + #{$gap-horizontal});
    }

    .col-26 {
        width: calc(((100% - #{$gap-horizontal}*5) / 6) * 2 + #{$gap-horizontal});
    }

    .col-34 {
        width: calc(((100% - #{$gap-horizontal}*3) / 4) * 3 + (2 * #{$gap-horizontal}));
    }

    .col-35 {
        width: calc(((100% - #{$gap-horizontal}*4) / 5) * 3 + (2 * #{$gap-horizontal}));
    }

    .col-36 {
        width: calc(((100% - #{$gap-horizontal}*5) / 6) * 3 + (2 * #{$gap-horizontal}));
    }

    .col-45 {
        width: calc(((100% - #{$gap-horizontal}*4) / 5) * 4 + (3 * #{$gap-horizontal}));
    }

    .col-46 {
        width: calc(((100% - #{$gap-horizontal}*5) / 6) * 4 + (3 * #{$gap-horizontal}));
    }

    .col-56 {
        width: calc(((100% - #{$gap-horizontal}*5) / 6) * 5 + (4 * #{$gap-horizontal}));
    }
}